<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    
<div class="container">

<header>

    <a href="home.html" class="logo"><span></span></a>

    <div id="menu" class="fas fa-bars"></div>

    <a href="#" class="logo">Infix-Postfix<span>Converter</span></a>


   

</header>

<!-- home section  -->

<section class="home">

    <div class="content">
        
        <a href="{{ url_for('itop') }}" class="btn">Infix to Postfix</a>
    </div>
  <div class="content">
        
        <a href="" class="btn">Postfix to Infix</a>
    </div>
    <div class="image">
        <img src="{{ url_for('static', filename='images/home-img.svg') }}" alt="">
    </div>

</section>
</body>
</html>